<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="admin" ng-controller="member">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
	<a href="member.html" target="_blank">打开当前url</a>
	<br />
	<a id="pageUp1">page up</a>
	<a id="pageDown1">page down</a>
	<input type="text" placeholder="输入手机号搜索" id="tel" name="tel"/>
	<input type="button" value="搜索" ng-click="searchClicked()"/>
	
	<table border="1">
	<tbody>
	<tr>
		<td>op</td>
		<td>id</td>
		<td>wechat_id</td>
		<td>name</td>
		<td>phone</td>
		<td>avatar</td>
		<td>current</td>
		<td>amount</td>
		<td>message</td>
		<td>create_time</td>
		<td>modify_time</td>
	</tr>
	</tbody>
	<tbody>
	<tr ng-repeat="row in json" style="height: 50px;">
		<td>
			<a href="member_modify.html?id={{row.guid}}" target="_blank">modify</a>
			<a href="order.html?mid={{row.guid}}&page=1" target="_blank">order</a>
		</td>
		<td>{{row.guid}}</td>
		<td>{{row.wechat_id}}</td>
		<td>{{row.name}}</td>
		<td>{{row.phone}}</td>
		<td><img ng-src="{{row.avatar}}" width="100px" height="100" /></td>
		<td>{{row.current}}</td>
		<td>{{row.amount}}</td>
		<td>
			<textarea id="message{{$index}}" name="message{{$index}}" rows="10" cols="20">喔耶！您的咖啡已上路，预计明天中午送达。\n\n顺丰快递号：</textarea>
			<input type="button" value="sendMessage" ng-click="sendMessage(row, $index);" />
		</td>
		<td>{{row.create_time}}</td>
		<td>{{row.modify_time}}</td>
	</tr>
	</tbody>
	</table>
	<a id="pageUp2">page up</a>
	<a id="pageDown2">page down</a>
	<script type="text/javascript">
		var page = GetQueryInt("page");
		if(page == 0)
			page = 1;
		$("pageDown1").href= "member.html?page=" + (page + 1);
		if(page - 1 <= 0)
			$("pageUp1").href= "member.html?page=1";
		else
			$("pageUp1").href= "member.html?page=" + (page - 1);
			
		$("pageDown2").href= "member.html?page=" + (page + 1);
		if(page - 1 <= 0)
			$("pageUp2").href= "member.html?page=1";
		else
			$("pageUp2").href= "member.html?page=" + (page - 1);	
	</script>
</body>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="member.js"></script>
</html>