<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="admin" ng-controller="order">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link rel="stylesheet" href="order.css" />
</head>
<body>
	<a id="pageUp1">page up</a>
	<a id="pageDown1">page down</a>
	<a href="order_add.html">add</a>
	<input type="text" placeholder="输入订单号搜索" id="orderNo" name="orderNo"/>
	<input type="button" value="搜索" ng-click="searchClicked()"/>
	<input type="button" value="搜索已付款订单" ng-click="status1Clicked()"/>
	<input type="button" value="搜索已发货订单" ng-click="status2Clicked()"/>
	<table border="1">
	<tbody ng-repeat="row in json track by $index">
	<tr>
		<td>op</td>
		<td>guid</td>
		<td>订单号</td>
		<td>商品数量</td>
		<td>订单金额</td>
		<td>实付金额</td>
		<td>支付方式（1：member pay 2：wechat pay）</td>
		<td>用户id</td>
		<td>用户微信名称</td>
		<td>用户微信wcid</td>
		<td>发货消息message</td>
		<td>发货通知express</td>
		<td ng-show="row.details[0].store_guid > 0">咖啡馆</td>
		<td ng-show="row.details[0].store_guid > 0">咖啡馆下单</td>
		<td ng-show="row.details[0].commodity_guid > 0" ><div style="width: 180px;"> 订单收获地址信息</div></td>
		<td ng-show="row.details[0].commodity_guid > 0">订单详情</td>
		<td style="background-color:yellowgreen;">订单状态(0:未付款 1:已付款 2:已发货 3:完成 4:用户取消)</td>
		<td style="background-color:yellowgreen;">是否需要研磨</td>
		<td style="background-color:yellowgreen;">消费金额</td>
		<td style="background-color:yellowgreen;">备注</td>
		<td>创建时间</td>
		<td>修改时间</td>
		<td>op</td>
	</tr>
	<tr>
		<td><input type="button" value="modify" ng-click="modify($index);" /><a href="order_detail.html?id={{row.guid}}" target="_blank">detail</a></td>
		<td><textarea id="guid{{$index}}" name="guid{{$index}}" rows="12" cols="20" readonly="readonly">{{row.guid}}</textarea></td>
		<td><textarea id="orderno{{$index}}" name="orderno{{$index}}" rows="12" cols="20" readonly="readonly">{{row.order_no}}</textarea></td>
		<td><textarea id="count{{$index}}" name="count{{$index}}" rows="12" cols="20" readonly="readonly">{{row.count}}</textarea></td>
		<td><textarea id="amount{{$index}}" name="amount{{$index}}" rows="12" cols="20" readonly="readonly">{{row.amount}}</textarea></td>
		<td><textarea id="current{{$index}}" name="current{{$index}}" rows="12" cols="20" readonly="readonly">{{row.current}}</textarea></td>
		<td>{{row.type}}</td>
		<td>{{row.member_guid}}</td>
		<td>{{row.member_name}}</td>
		<td>{{row.member_wechat_id}}</td>
		<td>
			<textarea id="message{{$index}}" name="message{{$index}}" rows="10" cols="20">喔耶！您的咖啡已上路，预计明天中午送达。\n\n顺丰快递号：</textarea>
			<input type="button" value="sendMessage" ng-click="sendMessage(row, $index);" />
		</td>
		<td>
			<textarea id="message2{{$index}}" name="message2{{$index}}" rows="10" cols="20" placeholder="输入订单编号（不能有空格）"></textarea>
			<input type="button" value="sendMessage" ng-click="sendMessage2(row, $index);" />
		</td>
		<td ng-show="row.details[0].store_guid > 0">{{row.details[0].store_name}}</td>
		<td ng-show="row.details[0].store_guid > 0">咖啡馆下单</td>
		<td ng-show="row.details[0].commodity_guid > 0">姓名：{{row.consignee_name}}<br /> 电话：{{row.consignee_phone}}<br /> 地址：{{row.consignee_address}}</td>
		<td ng-show="row.details[0].commodity_guid > 0">
			<table border="1" width="500px">
			<tbody>
				<tr>
					<td style="width: 110px; height: 30px;">商品id</td>
					<td style="width: 150px; height: 30px;">商品名称</td>
					<td style="width: 110px; height: 30px;">商品数量</td>
					<td style="width: 110px; height: 30px;">商品单价</td>
				</tr>
				<tr ng-repeat="detail in row.details">
					<td>{{detail.commodity_guid}}</td>
					<td>{{detail.commodity_name}} | {{detail.commodity_description}}</td>
					<td>{{detail.count}}</td>
					<td>{{detail.commodity_price}}</td>
				</tr>
			</tbody>
			</table>
		</td>
		<td><textarea id="status{{$index}}" name="status{{$index}}" rows="10" cols="20">{{row.status}}</textarea><input type="button" value="modify" ng-click="modify($index);" /></td>
		<td><textarea id="grind{{$index}}" name="grind{{$index}}" rows="12" cols="20">{{row.grind}}</textarea></td>
		<td><textarea id="cost{{$index}}" name="cost{{$index}}" rows="12" cols="20">{{row.cost}}</textarea></td>
		<td><textarea id="memo{{$index}}" name="memo{{$index}}" rows="12" cols="50">{{row.memo}}</textarea></td>
		<td>{{row.create_time}}</td>
		<td>{{row.modify_time}}</td>
		<td><input type="button" value="delete" ng-click="delete(row.guid);" /></td>
	</tr>
	</tbody>
	</table>
	
	<a id="pageUp2">page up</a>
	<a id="pageDown2">page down</a>
	<a href="order_add.html">add</a>
	<script type="text/javascript">
		var page = GetQueryInt("page");
		if(page == 0)
			page = 1;
		$("pageDown1").href= "order.html?page=" + (page + 1);
		if(page - 1 <= 0)
			$("pageUp1").href= "order.html?page=1";
		else
			$("pageUp1").href= "order.html?page=" + (page - 1);
			
		$("pageDown2").href= "order.html?page=" + (page + 1);
		if(page - 1 <= 0)
			$("pageUp2").href= "order.html?page=1";
		else
			$("pageUp2").href= "order.html?page=" + (page - 1);		
	</script>
</body>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="order.js"></script>
</html>