<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="admin" ng-controller="store_commodity">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
	</head>

	<body>		
		咖啡店id：{{store.guid}}
		<br />
		咖啡店名称：{{store.name}}
		<br />
		<input type="button" value="add" ng-click="AddRecommend($index)" />
		<table border="1">
			<tbody ng-repeat="list in store.recommends track by $index">
				<tr>
					<td>op</td>
					<td>seleted</td>
					<td>推荐描述</td>
					<td>op</td>
				</tr>
				<tr>
					<td>
						<input type="button" value="modify" ng-click="modifyRecommend(list, $index)" />
						<input type="button" value="save" ng-click="saveRecommend(list, $index)" />
					</td>
					<td>
						<select id="selectedId{{$index}}">
							<option ng-repeat="commodity in commodityList track by $index" ng-selected="list.commodity_guid == commodity.guid" value="{{commodity.guid}}" id="{{commodity.guid}}">{{commodity.name}} | {{commodity.description}}</option>
						</select>
					</td>
					<td><textarea id="m{{$index}}" name="m{{$index}}" rows="10" cols="20">{{list.message}}</textarea></td>
					<td><input type="button" value="remove" ng-click="RemoveRecommend(list, $index)" /></td>
				</tr>
			</tbody>	
		</table>
		
	</body>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="store_commodity.js"></script>

</html>