<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="admin" ng-controller="store_cash_tixian">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link rel="stylesheet" href="store_cash_tixian.css" />
</head>
<body>
	<a href="store_cash_tixian.html" target="_blank">打开当前url</a>
	<br />
	<a id="pageUp1">page up</a>
	<a id="pageDown1">page down</a>
	<table border="1">
	<tbody ng-repeat="row in json track by $index">
	<tr>
		<td><div style="width: 100px;">op</div></td>
		<td>guid</td>
		<td>提现账户</td>
		<td>订单金额</td>
		<td style="background-color:yellowgreen;">
			提现状态(0:提现中 1:提现完成)
		</td>
		<td>发送信息</td>
		<td>merchant_phone</td>
		<td>merchant_guid</td>
		<td>merchant_getui_id</td>
		<td>merchant_wechat_id</td>
		<td>订单type</td>
		<td>创建时间</td>
		<td>修改时间</td>
		<td>op</td>
	</tr>
	<tr>
		<td>
			<a href="store_cash.html?sid={{row.store_guid}}" target="_blank">商家提现记录</a>
			<br />
			<br />
			<a href="store_order.html?sid={{row.store_guid}}" target="_blank">商家订单列表</a>
			<input type="button" value="modify" ng-click="modify(row, $index);" />
		</td>
		<td><textarea id="guid{{$index}}" name="guid{{$index}}" rows="10" cols="20" readonly="readonly">{{row.guid}}</textarea></td>
		<td><textarea id="payment{{$index}}" name="payment{{$index}}" rows="10" cols="20">{{row.payment}}</textarea></td>
		<td><textarea id="amount{{$index}}" name="amount{{$index}}" rows="10" cols="20" readonly="readonly">{{row.amount}}</textarea></td>
		<td><textarea id="status{{$index}}" name="status{{$index}}" rows="10" cols="30">{{row.status}}</textarea></td>
		<td>
			<textarea id="message{{$index}}" name="message{{$index}}" rows="10" cols="20">您的提现订单已处理，预计24小时之内到账，注意查收。</textarea>
			<input type="button" value="sendMessage" ng-click="sendMessage(row, $index);" />
		</td>
		<td>{{row.merchant_phone}}</td>
		<td>{{row.merchant_guid}}</td>
		<td>{{row.merchant_getui_id}}</td>
		<td>{{row.merchant_wechat_id}}</td>
		<td>提现记录</td>
		<td>{{row.create_time}}</td>
		<td>{{row.modify_time}}</td>
		<td><input type="button" value="delete" ng-click="delete(row.guid);" /></td>
	</tr>
	</tbody>
	</table>
	
	<a id="pageUp2">page up</a>
	<a id="pageDown2">page down</a>
	<script type="text/javascript">
		var page = GetQueryInt("page");
		if(page == 0)
			page = 1;
		$("pageDown1").href= "store_cash_tixian.html?page=" + (page + 1);
		if(page - 1 <= 0)
			$("pageUp1").href= "store_cash_tixian.html?page=1";
		else
			$("pageUp1").href= "store_cash_tixian.html?page=" + (page - 1);
			
		$("pageDown2").href= "store_cash_tixian.html?page=" + (page + 1);
		if(page - 1 <= 0)
			$("pageUp2").href= "store_cash_tixian.html?page=1";
		else
			$("pageUp2").href= "store_cash_tixian.html?page=" + (page - 1);		
	</script>
</body>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="store_cash_tixian.js"></script>
</html>