<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="admin" ng-controller="store_modify">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/angular.min.js" ></script>
	</head>
	<body>
		<form id="form_modify"  method="post" enctype="multipart/form-data">
			<table>
			<tbody>
				<tr style="display: none;"><td>id</td><td><textarea id="id" name="id" rows="1" cols="80">{{store.guid}}</textarea></td></tr>
				<tr><td>name</td><td><textarea id="name" name="name" rows="2" cols="80">{{store.name}}</textarea></td></tr>
				<tr><td>address</td><td><textarea id="address" name="address" rows="1" cols="80">{{store.address}}</textarea></td></tr>
				<tr><td>phone</td><td><textarea id="phone" name="phone" rows="1" cols="80">{{store.phone}}</textarea></td></tr>
				<tr><td>longitude</td><td><textarea id="longitude" name="longitude" rows="1" cols="80">{{store.longitude}}</textarea></td></tr>
				<tr><td>latitude</td><td><textarea id="latitude" name="latitude" rows="1" cols="80">{{store.latitude}}</textarea></td></tr>
				<tr>
					<td>image<br/><input type="button" value="add" onclick="AddImage();"/><input type="button" value="remove" onclick="RemoveImage();"/></td>
					<td id="images"><p ng-repeat="row in store.images"><img ng-src="{{row}}" width="100px" height="100px" /><input type="file" id="file" name="file" onchange="GetImage(this);" /></p></td>
				</tr>
				<tr>
					<td>avatar</td>
					<td><p><img ng-src="{{store.avatar}}" width="100px" height="100px" /><input type="file" id="avatar" name="avatar" onchange="GetImage(this);" /></p></td>
				</tr>
				<tr><td>video</td><td><textarea id="video" name="video" rows="2" cols="80">{{store.video}}</textarea></td></tr>
				<tr><td>date</td><td><textarea id="date" name="date" rows="1" cols="80">{{store.date}}</textarea></td></tr>
				<tr><td>owner</td><td><textarea id="owner" name="owner" rows="2" cols="80">{{store.owner}}</textarea></td></tr>
				<tr><td>slogan</td><td><textarea id="slogan" name="slogan" rows="2" cols="80">{{store.slogan}}</textarea></td></tr>
				<tr><td>recommend</td><td><textarea id="recommend" name="recommend" rows="2" cols="80">{{store.recommend}}</textarea></td></tr>
				<tr><td>feature1</td><td><textarea id="feature1" name="feature1" rows="2" cols="80">{{store.feature1str}}</textarea>填写例：91,92 (91:适合学习,92:无线网络,93:自制甜点,94:美酒佳酿,95:咖啡课程,96:内有萌宠,97:有书阅读,98:自烘咖啡,99:有停车位,100:欢迎宠物,101:适合商谈,102:值得拍照,103:简餐)</td></tr>
				<tr><td>feature2</td><td><textarea id="feature2" name="feature2" rows="2" cols="80">{{store.feature1str}}</textarea>填写例：88,89 (88:V60,89:爱乐亚,90:摩卡壶,91:冰滴壶,92:chemex,93:法压壶,94:虹吸壶,95:意式)</td></tr>
				<tr><td>feature3</td><td><textarea id="feature3" name="feature3" rows="2" cols="80">{{store.feature3}}</textarea>例：长吧台，胡同院落，两层 宽敞，胡同房子</td></tr>
				<tr><td>star</td><td><textarea id="star" name="star" rows="1" cols="80">{{store.star}}</textarea></td></tr
				<tr><td>activity</td><td><textarea id="activity" name="activity" rows="2" cols="80">{{store.activity}}</textarea></td></tr>
				<tr><td>comment</td><td><textarea id="comment" name="comment" rows="2" cols="80">{{store.comment}}</textarea></td></tr>
				<tr><td>description</td><td><textarea id="description" name="description" rows="5" cols="80">{{store.description}}</textarea></td></tr>
				<tr><td><input type="submit" value="modify" ng-click="modify()" /></td><td>{{json.guid}}</td></tr>
			</tbody>
			</table>
		</form>
		<script type="text/javascript">
			function GetImage(_this) {
				_this.previousSibling.src = window.URL.createObjectURL(_this.files[0]);
			}

			function AddImage() {
				var p = document.createElement("p");
				p.innerHTML = "<img width=\"100px\" height=\"100px\" /><input type=\"file\" id=\"file\" name=\"file\" onchange=\"GetImage(this);\"/>";
				document.getElementById("images").appendChild(p);
			}

			function RemoveImage() {
				var images = document.getElementById("images");
				var p = images.getElementsByTagName("p");
				if (p.length > 1)
					images.removeChild(p[p.length - 1]);
				else
					alert("Value cannot be null");
			}
		</script>
	</body>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="store_modify.js"></script>

</html>